/* Importing Alfa Slab One font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Alfa Slab fontunu ekledim */
.alfa-slab-one-regular {
  font-family: 'Alfa Slab One', serif;
  font-weight: 400 !important;
  font-style: normal;
}

/* Standart buton yapisini duzenledim */
.button {
  background-color: var(--green-light);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}

/* Buton hover ozelligini ekledim */
.button:hover {
  background-color: var(--green);
}

/* Tasarim alaninin sinirlarini belirledim */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Page Home */
/* Akaplandaki yesil cizgiyi ekledim */
.background {
  width: 100%;
  min-height: 100%;
  position: fixed;
  inset: 0;
  background: linear-gradient(10deg, rgb(211, 211, 211) 0%, rgb(234, 234, 234) 100%);
  display: flex;
  overflow: hidden;
  z-index: -1;
}

.background .bg-line-left,
.background .bg-line-right {
  width: 200px;
  height: 200%;
  background: linear-gradient(10deg, rgb(88, 106, 64) 0%, rgb(119, 135, 44) 100%);
  transform: rotate(30deg) translateY(-20%);
}

.background .bg-line-right {
  width: 100px;
  position: absolute;
  right: 60px;
}

/* Ana sayfadaki kutu sayfa alani */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  overflow: auto;
  padding: 30px 0;
}

.home-container .header {
  margin: 0;
  padding: 30px 0;
}

/* Ana sayfadaki beyaz kutu alani */
.home-container-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 95%;
  max-width: 1200px;
  min-height: 90%;
}

/* Ana sayfadaki beyaz kutu alaninin padingini mobilde dusurdum */
/* Responsive kodunu W3Schoools'tan aldim, Kaynak: https://www.w3schools.com/css/css3_mediaqueries_ex.asp */
@media screen and (max-width: 768px) {
  .home-container-box {
    padding: 15px;
  }
}

/* Ana sayfa beyaz kutudaki header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.header .logo img {
  height: 50px;
}

@media screen and (max-width: 768px) {
  .header .logo img {
    height: 30px;
  }
}

/* Header logo altindaki slogan yazisi (Enkelt og Efektiv) */
.header .logo span {
  font-size: 14px;
  color: var(--light);
  margin-top: 5px;
  letter-spacing: 0.25rem;
  /* Yazinin kaymasini engellemek icin ekledim */
  text-wrap-mode: nowrap;
}

/* Header logo altindaki slogan yazisini mobilde kuculttum */
@media screen and (max-width: 768px) {
  .header .logo span {
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
}

/* Headerdaki link alani */
.header .nav {
  display: flex;
  gap: 15px;
  row-gap: 10px;
  flex-wrap: wrap;
}

/* Headerdaki link */
.header .nav a {
  border-radius: 8px;
  color: var(--green);
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header .nav {
    font-size: 13px;
  }
}

/* Footer Styles */

.footer {
  padding: 50px 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--dark);
  font-size: 14px;
  justify-content: center;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo img {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .footer .logo img {
    height: 20px;
  }
}

.footer .logo span {
  font-size: 14px;
  color: var(--light);
  margin-top: 5px;
  letter-spacing: 0.25rem;
  text-wrap-mode: nowrap;
}

@media screen and (max-width: 768px) {
  .footer .logo span {
    letter-spacing: 0;
    font-size: 12px;
  }
}

/* Ana sayfadaki kitaplik alani */
.home-main {
  margin-top: 30px;
  color: var(--light);
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .home-main {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.home-main .text-area,
.home-main .img-area {
  flex: 1;
}

/* Ana sayfadaki kitaplik alan basligi */
.home-main .text-area h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.2;
  color: var(--green);
  font-weight: 600;
}

/* Ana sayfadaki kitaplik alan paragrafi */
.home-main .text-area p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--dark);
  font-weight: 400;
}

/* Ana sayfadaki kitaplik alan butonu */
.home-main .text-area .button {
  margin-top: 15px;
}

.home-main .img-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main .img-area img {
  width: 150%;
  max-width: 150%;
}

/* Ana sayfadaki tarifler */
.home-slides {
  display: flex;
  gap: 30px;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 50px;
}

.home-slides .home-slide {
  flex: 1 calc(25% - 30px);
}

@media screen and (max-width: 1200px) {
  .home-slides .home-slide {
    flex: 1 calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .home-slides .home-slide {
    flex: 1 calc(100% - 30px);
  }
}

.home-slides .home-slide img {
  border-radius: 10px;
  width: 100%;
}

.home-slides .home-slide .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.home-slides .home-slide .stars-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .home-slides .home-slide .stars-area {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

.home-slides .home-slide .stars-area .star-description {
  font-size: 12px;
  margin-top: -2px;
}

/* Tarif sayfasi */
.page-container {
  margin-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-top: 30px;
  }
}

/* Tarif sayfasi ust kisim (resimli ve yazili) */
.page-sliders .container .slide-area {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .page-sliders .container .slide-area {
    flex-direction: column-reverse;
  }
}

/* Tarif sayfasi ust kisim (yazili alan) */

.page-sliders .container .slide-area-left {
  flex: 1;
}

.page-sliders .container .slide-area-left .slide-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--green);
}

@media screen and (max-width: 768px) {
  .page-sliders .container .slide-area-left .slide-title {
    font-size: 35px;
  }
}

/* 1 TIME 5 MIN, FRYSEEGNET (192) ve Kommentarer ikon alani */
.page-sliders .container .slide-area-left .info-bar {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 15px;
  gap: 15px;
}

@media screen and (max-width: 1200px) {
  .page-sliders .container .slide-area-left .info-bar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-sliders .container .slide-area-left .info-bar .info-bar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.page-sliders .container .slide-area-left .info-bar .info-bar-left .info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.page-sliders .container .info-bar .info-bar-left .info-text {
  margin-top: -2px;
}

.page-sliders .container .slide-area-left .info-bar .info-bar-right .stars {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Tarif sayfasi ust kisim paragraf */
.page-sliders .container .slide-area-left .slide-description {
  margin-top: 30px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300;
}

/* GEM, TILFØJ TIL INDKØSLISTE, DEL ve PRINT ikonlari */
.page-sliders .container .slide-area-left .buttons-of-slide {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  margin-top: 30px;
}

.page-sliders .container .slide-area-left .buttons-of-slide .button-of-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--light);
  font-size: 14px;
  line-height: 1.2;
}

.page-sliders .container .slide-area-left .buttons-of-slide .button-of-slide .icon {
  color: var(--dark);
}

/* Tarif sayfasi ust kisim (resimli alan) */
.page-sliders .container .slide-area-right {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
}

/* Tarif sayfasi tarif alani */
.recipe-area {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .recipe-area {
    flex-direction: column;
  }
}

/* Tarif sayfasi tarif check in alani */
.recipe-area .recipe-area-left {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 30px;
  flex: 0.4;
}

@media screen and (max-width: 768px) {
  .recipe-area .recipe-area-left {
    padding: 20px;
  }
}

/* Tarif sayfasi tarif check in alani basligi */
.recipe-area .recipe-area-left .recipe-calculator .title {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .recipe-area .recipe-area-left .recipe-calculator .title {
    font-size: 18px;
  }
}

/* Tarif sayfasindaki porsiyon/kisi hesaplama butonu */
/* Ingredienser alani basladi */
.recipe-area .recipe-area-left .recipe-calculator .portion-calculator {
  margin-top: 15px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  gap: 20px;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .description {
  font-size: 14px;
  font-weight: 300;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .portion-calculator-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .decrease,
.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .increase {
  width: 25px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  transition: background-color 0.3s ease-in-out;
  font-weight: 100;
  display: inline-block;
  font-size: 25px;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .decrease:hover,
.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .increase:hover {
  background-color: #dddddd;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .decrease {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .increase {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.recipe-area .recipe-area-left .recipe-calculator .portion-calculator .portion-number {
  margin: 0 15px;
  font-weight: 500;
}

.recipe-area .recipe-area-left .recipe-calculator .recipe-checks {
  margin-top: 40px;
}

.recipe-area .recipe-area-left .recipe-calculator .recipe-checks .title {
  margin-bottom: 20px;
  font-size: 18px;
}

.recipe-area .recipe-area-left .recipe-calculator .recipe-checks .recipe-checks-container {
  border: 1px solid #b3c8bb;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.recipe-area .recipe-area-left .recipe-calculator .recipe-checks .recipe-checks-container:has(li:nth-child(2)) li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.recipe-area .recipe-area-left .recipe-calculator .recipe-checks .recipe-check label {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}

/* Ingredienser alani bitti */
/* Sådan gør du alani basladi */
.recipe-area .recipe-area-right {
  flex: 0.6;
  padding: 30px;
  background: #f4f4f4;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .recipe-area .recipe-area-right {
    padding: 20px;
  }
}

.recipe-area .recipe-area-right .title {
  font-size: 24px;
  font-weight: 600;
}

.recipe-area .recipe-area-right .screen-close-text {
  margin-top: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.recipe-area .recipe-area-right .screen-close-text .icon {
  border: 3px solid #b1b3b2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 26px;
  border-radius: 22px;
  background: #f8f8f8;
}

.recipe-area .recipe-area-right .screen-close-text .icon svg {
  border: 3px solid #b1b3b2;
  border-radius: 50%;
  padding: 1px;
  margin-left: -3px;
}

.recipe-area .recipe-area-right .recipe-desc-area {
  margin-top: 30px;
}

.recipe-area .recipe-area-right .recipe-desc-area .recipe-title {
  font-size: 20px;
  font-weight: 500;
}

.recipe-area .recipe-area-right .recipe-desc-area .recipe-description {
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
}

.recipe-area .recipe-area-right .recipe-desc-area .recipe-steps {
  font-weight: 300;
}

.recipe-area .recipe-area-right .recipe-desc-area .recipe-steps .recipe-step {
  margin-top: 8px;
  line-height: 1.4;
}

.recipe-area .recipe-area-right .slide-table {
  margin-top: 50px;
}

.recipe-area .recipe-area-right .slide-table img {
  border-radius: 10px;
}

/* Sådan gør du alani bitti */
